.address-form {
margin: 0 auto;
  padding: 30px 0;
}
.checkout-btn {
  max-width: 80px;
  border-radius: 5px;
  padding: 5px;
  background: gold;
}
.input-field {
  margin-right: 10px;
}

.formik {
  width: 100%;
  display: flex;
  align-items: center;
}